.footer-wrapper{
    background-color: #313232bf !important;
}

.mb-3 > a :hover {    
        color: #2766B3;
}

button :hover{
    color: rgba(241, 90, 31, 0.925) 
}

hr {
    border: 1px solid #ffffff;
    opacity: 1;
}