<footer class="footer-wrapper text-center text-white mt-3">
    
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="button" class="btn btn-outline-light mb-3">
                <a  [routerLink]="['/about']">
                  About Us <span>&#x2192;</span>
                </a>        
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
   
      <!-- Section: Links -->
      <section class="abs-addres-section">
          <p><i class="fa fa-phone"></i> +351966741984 </p>
          <p><i class="fa fa-home"></i> Rua Poiais sao bento 21-3andar </p>
          <p> 1200-345 Lisboa, Protugal</p>  
          <p><i class="fa fa-envelope-o"></i> info@abroadshippingmanagement.com</p> 

        <hr class="mt-3"/>
          <div class="text-center">
            © 2022 Copyright, All right reserved:
            <a class="text-white">www.abroadshippingmanagement.com</a>
          </div>

        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
  </footer>
  <!-- Footer -->