.footer-wrapper{
     background-color: #313232bf !important;
    //background-color: #203787 !important;
}

// .mb-3 > a :hover {    
//         color: #2766B3;
// }

button :hover{
    color: none !important; 
}

hr {
    border: 1px solid #ffffff;
    opacity: 1;
}

button {
    color: #fff;
    display: flex;
    align-items: center;
}

.col-auto button span {
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
    margin-top: -5px;

}

// .row {
//     font-size: 2vw;
//     text-decoration: none;
//     font-weight: 15px;
// }

.fa-home {
    font-size: 1.5em;
}

.btn-outline-light a {
    text-decoration: none;
    color: #FFFFFF !important;
}

.btn-outline-light a:hover{
    text-decoration: none;
    color: #000000 !important;
}