<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
    <img
      width="120"
      alt="Visit Abroad"
      src="assets/img/visitabroadLogo.png"
    />
  </div> -->

 <header class="header">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
     <a class="navbar-brand mx-4" href="#">Visit Abroad</a> <!-- logo here -->
    <button (click)="showMenu()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarMobileView" aria-controls="navBarMobileView" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div #myTag class="collapse navbar-collapse justify-content-between className" id="navBarMobileView">
      <ul class="navbar-nav ms-auto mx-auto mb-lg-0 text-center">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item" style="margin-left:30px">
          <a class="nav-link" href="#">About Us</a>
        </li> 

        <li class="nav-item" style="margin-left:30px">
          <a class="nav-link" href="#">Services</a>
        </li> 
        
        <li class="nav-item active" style="margin-left:30px">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item" style="margin-left:30px">
          <a class="nav-link" href="#">Location</a>
        </li> 
      </ul>
    
    </div>
  </nav>
 </header>