
  
  .navbar-nav {
    font-size: 23px;
    margin: 0px;
    padding: 0px;
    line-height: 2rem;
    text-align: end;
    text-decoration: none;
    overflow: hidden;
    font-size: 30px;
    // color:#fff;
  }

  .navbar, .bg-light {
      background-color: #313232bf!important;
      // background-color: #203787 !important;
      font-size: 30px;
    } .navbar-light, a {
      color: #ffffff !important;
  }

  .navbar, a:hover {
    color: none;
  }

  div ul {
    line-height: 5rem;
  }

  ul li a{
    border: 1px solid transparent;
    padding: 5px 20px;
  }

  .img-container{
    position: relative;
    // height: 150;
    // width: 200;
    box-sizing: border-box;
  }

  .header{
    max-width: 100%;
    margin: auto;
  }

  