<!-- <img src="assets/img/ship4.jpg" alt="first slide" style="display: block; width: 100%; height: 50%;"> -->
<div class="abs-about-container">
    <div class="d-flex justify-content-center text-center p-0 m-0 imgSrc">
        <div class="imgContent">
            <p>About Us</p>

            <div class="abs-box-home">
                <p class="abs-home-title" (click)="home()">Home</p>
                <p class="abs-home-title" (click)="ourService()">Our Services</p>
            </div>
            
        </div>
        
    </div>

    <div class="d-flex container-fluid">
        <p>
            <b><em>Abroad Shipping Management,</em></b> provide a complete ship management service. Our team of experienced 
            superintendents and managers ensure you have the safest, most secure and cost 
            effective vessels: whatever their size, type or location. We are based in London,
            operate worldwide and have been established for over one hundred years We provide a 
            complete range of services, from new build, valuation, repair and maintenance to crewing, 
            purchasing and accountancy We are a proven leader in the UK’s maritime industry and key
            players in all the world’s shipping markets We offer a service that is personal, flexible and
            bespoke: providing you with complete reassurance and maximum ROI Abroad Shipping Management are 
            accredited to the ISO 9001:2022 Quality Management Standard and the ISO 14001:2022 Environmental 
            Standard. In addition, we are represented on committees of Lloyd’s Register, 
            Bureau Veritas and the UK Chamber of Shipping. LTSM are signatories to the Armed Forces
            Covenant and hold Cyber Essentials Certification.
        </p>
    </div>

</div>