<div class="abs-main-container">
    <div class="d-flex text-center align-items-center abs-main-content">
        <div class="main-title d-flex">
            <span class="fa fa-phone"></span>
            <h4>Phone</h4>
            <p>Feel free to contact with us</p>
            <p>+351966741984</p>
        </div>

        <div class="main-title d-flex">
            <span class="fa fa-envelope-o"></span>
            <h4>Email</h4>
            <p>info@abroadshippingmanagement.com</p>
            <p>himal@abroadshippingmanagement.com</p>
        </div>

        <div class="main-title d-flex">
            <span class="fa fa-location-arrow"></span>
            <h4>Location</h4>
            <p>Rua Poiais sao bento 21-3andar,</p>
            <p>1200-345 Lisboa, Protugal</p>
        </div>
    </div>
</div>
