.imgSrc {
    background-image: url('../../assets/img/maritime.jpg');
    width: 100wh;
    background-size: 100% 100%; 
    height: 80vh;    
    background-repeat: no-repeat;
    background-position: left top;
    object-fit: cover;
    
}

.imgContent {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-size: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(34, 34, 48, 0.5);
    color: #FFFFFF;
}

.abs-service-title {
    font-size: 30px !important;
    background-color: #d60e0e;
    opacity: 0.75;
    padding: 5px;
    margin: 0;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
}

.abs-service-title:hover{
    background-color: #ffffff;
    color: #d60e0e;
    cursor: pointer;
    opacity: 0.75;
    border-radius: 4px;
}

.v-img-ser {
    transition: all 0.75s linear;
}

.v-img-ser:hover{
    transform:translateY(-12px);
    transition-timing-function: ease-in-out;
    box-sizing: border-box;
    box-shadow: rgba(34, 34, 48, 0.5);
    background-color: rgba(34, 34, 48, 0.5);

    // transform: skewY(10deg);
}

div p strong {
    font-size: 1.5em;
    color: #1f089f;
}

.abs-wrapper {
    display: flex;
    flex-wrap: nowrap;
    // margin: 0px;
    // padding: 0px;

}

 img {
    width: 100vh;
    height: 40vh;
    object-fit: cover;
    margin: 13px 0px 13px 0px;
    padding: 0;
}

@media (max-width: 800px) {
    .abs-wrapper {
      flex-direction: column;
    }

    img {
        width: 100%;
        height: auto;
    }
  }

.abs-service-container {
    animation: transitionIn 3s ;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

// @media only screen and (max-width: 600px) {
//     .abs-wrapper {
//         display: flex;
//         flex-direction: column;
//         width: 100%;
//     }
//   }
