<!-- <img src="assets/img/ship4.jpg" alt="first slide" style="display: block; width: 100%; height: 50%;"> -->
<div class="abs-service-container">
    <div class="d-flex justify-content-center text-center p-0 m-0 imgSrc">
        <div class="imgContent">
            <p class="p-0 m-4">Services</p>
            <p class="abs-service-title">Read More</p>
        </div>
        
    </div>

    <div class="container-fluid mt-4 abs-wrapper">
        <div class="col">
            <div class="justify-content-center text-center">
                <p><strong>Accounting</strong></p>
            </div>
            <p>
                We provide solutions for all aspects of vessel accounting including budgeting, 
                general accounting and cost control. We operate a comprehensive Cost Analysis system 
                which enables us to advise owners, vessel superintendents and purchasing staff on cost 
                control This allows you to enhance ROI and model future spend profiles
                 We provide effective solutions for all technical, accountancy and insurance matters. 
                Our in-house insurance department provides a full claims management service from initial negotiation to final settlement – at all times adding value through our long-standing relationships with specialist brokers and underwriters.
            </p>
        </div>

        <div class="col">
            <img class="v-img-ser" src="assets/img/ship4.jpg" alt="first slide">
        </div>

        
    </div>

    <div class="container-fluid abs-wrapper mt-4">       

        <div class="col">
            <div class="justify-content-center text-center">
                <p><strong>Regulation Management</strong></p>
            </div>
            <p>
                We are experts in arranging flag state registration for both new vessels and changes in flag.We hold Documents of Compliance for a number of the major 
                flag states and have trusted relationships with the relevant authorities
                We keep you abreast of new regulations and flag state requirements and assist in ensuring 
                that all our managed vessels comply with new legislation We use Ideagen Quality Workbench 
                software to identify non-conformities and ensure appropriate action is taken to achieve compliance.
            </p>
        </div>

        <div class="col">
            <img class="v-img-ser" src="assets/img/ship3.jpg" alt="first slide" >
        </div>

    </div>

</div>