// @import '~font-awesome/css/font-awesome.css';
h1, h2, h3, h4, h5, h6, a {
    font-family: 'Poppins', sans-serif;
}

div{
    font-family: "Poppins", sans-serif;
}

.d-color{
    color:#0C0C0C;
    font-size:0.95rem;
    line-height: 1.35em;
}

body{
    background-color: #e3e0e0 !important;
}

::selection {
    color: #fff;
    background: #1cc7d0;
}


  