<carousel [isAnimated]="true" [showIndicators]="false">
    <slide>
        
      <img src="assets/img/ship4.jpg" alt="first slide" style="display: block; width: 100%; height: 50%;">
      <div class="text-center asm-images d-md-block">
        <h3>Abroad Shipping Management</h3>
        <p>Welcome to Abroad Shipping Management Center</p>
      </div>
    </slide>

    <slide>
      <img src="assets/img/ship2.jpg" alt="second slide" style="display: block; width: 100%; height: 50%;">

      <div class="text-center asm-images d-md-block">
        <h3>Abroad Shipping Management</h3>
        <p>A Complete Solution and Services For Shipping to Abroad</p>
      </div>
    </slide>

    <slide>
      <img src="assets/img/ship3.webp" alt="third slide" style="display: block; width: 100%; height: 50%;">
      
      <div class="text-center asm-images d-md-block d-color">
        <h3>Abroad Shipping Management</h3>
        <p>A genuine Documation and Counseling</p>
      </div>
    </slide>
   
</carousel>

<!-- content -->
  <div class="d-color mt-2 ms-2">
    <p><b>Abroad Shipping Managment PVT </b>, we provide a complete ship management service from new build, valuation, repair and maintenance to crewing, purchasing and accountancy. 
      For more than a century, we have proven ourselves to be leaders in the UK’s maritime industry and key players in all the world’s shipping markets. At all times our service remains personal, flexible and bespoke: providing you with complete reassurance and maximum ROI. Our team of experienced superintendents and managers ensure you have the safest, 
      most secure and cost effective vessels; whatever their size, type or location.</p>  
  </div>
<!-- content -->


  <!-- flipper -->
<div class="row justify-content-center mt-3">
  <div class="wrapper">

    <div class="card front-face">
      <div class="f-title justify-content-center text-center mt-4">
        <h4>Shipping Management</h4>
          <p>
            Abroad Shipping Managment PVT , we provide a complete ship management service from new build, valuation, repair and maintenance to crewing, purchasing and accountancy. 
            For more than a century, we have proven ourselves to be leaders in the UK’s maritime industry and key players in all the world’s shipping markets.
          </p>
      </div>      
    </div>

    <div class="card back-face">      
        <div class="info">
          <h4>Abroad Shipping Managment</h4>
           <img src="assets/img/ship4.jpg">                            
            <p>Shipping Management</p>
                
        </div>
        
    </div>
  </div>

  <div class="wrapper">
    <div class="card front-face">
      <div class="f-title justify-content-center text-center mt-4">
        <h4>Purchasing Service</h4>
          <p>
            We provide solutions for all aspects of vessel accounting including budgeting, general accounting and cost control. We operate a comprehensive Cost Analysis system which enables us to advise owners, 
            vessel superintendents and purchasing staff on cost control This allows you to enhance ROI and model future spend profiles.
            <!-- Abroad Shipping Managment PVT , we provide a complete ship management service from new build, valuation, repair and maintenance to crewing, purchasing and accountancy. 
            For more than a century, we have proven ourselves to be leaders in the UK’s maritime industry and key players in all the world’s shipping markets. -->
          </p>
      </div>
      
    </div>
    <div class="card back-face">
        <div class="info">
          <h4> Abroad Shipping Managment</h4> 
        <img src="assets/img/ship4.jpg">
            <p>
              Purchasing Service    
            </p>
        </div>
        
    </div>
  </div>

  <div class="wrapper">
    <div class="card front-face">
      <div class="f-title justify-content-center text-center mt-4">
        <h4>Maritime Service</h4>
          <p>
            We provide effective solutions for all technical, accountancy and insurance matters. 
            Our in-house insurance department provides a full claims management service from initial negotiation to final settlement – at all times adding value through our long-standing relationships with specialist brokers and underwriters.
          </p>
      </div>
      
    </div>
    <div class="card back-face">
        <div class="info">
          <h4 >Abroad Shipping Managment</h4>
        <img src="assets/img/ship4.jpg">            
            <p>Maritime Service</p>
        </div>
        
    </div>
  </div>

  <div class="wrapper">
    <div class="card front-face">
      <div class="f-title justify-content-center text-center mt-4">
        <h4>Curise Services</h4>
          <p>
            Abroad Shipping Managment PVT, We have a global network that allows us to secure competitive rates from equipment and service suppliers – keeping your vessel in great shape and your ROI high. Our purchasing service is built upon the Spec Tec AMOS purchasing system We utilize a twice-weekly electronic data transfer that lists exports to and imports 
            from.....
          </p>
      </div>
      
    </div>
    <div class="card back-face">
        <div class="info">
          <h4> Abroad Shipping Managment</h4>
        <img src="assets/img/ship4.jpg">               
                <p>Curise Services</p>
        </div>
        
    </div>
  </div>
</div>


