<carousel [isAnimated]="true" [showIndicators]="false">
    <slide>
        
      <img src="assets/img/flight1.jpg" alt="first slide" style="display: block; width: 100%; height: 50%;">
      <div class="carousel-caption  d-md-block">
        <h3>Abroad Shipping Management</h3>
        <p>Welcome to Abroad Shipping Management Center</p>
      </div>
    </slide>

    <slide>
      <img src="assets/img/flight2.jpg" alt="second slide" style="display: block; width: 100%; height: 50%;">

      <div class="carousel-caption  d-md-block">
        <h3>Abroad Shipping Management</h3>
        <p>A Complete Solution and Services For Shipping to Abroad</p>
      </div>
    </slide>

    <slide>
      <img src="assets/img/flight3.jpg" alt="third slide" style="display: block; width: 100%; height: 50%;">
      
      <div class="carousel-caption  d-md-block d-color">
        <h3>Abroad Shipping Management</h3>
        <p>A genuine Documation and Counseling</p>
      </div>
    </slide>
   
</carousel>

<!-- content -->
  <div class="d-color mt-2 ms-2">
    <p><b>Abroad Shipping Managment PVT </b>, we provide a complete ship management service from new build, valuation, repair and maintenance to crewing, purchasing and accountancy. 
      For more than a century, we have proven ourselves to be leaders in the UK’s maritime industry and key players in all the world’s shipping markets. At all times our service remains personal, flexible and bespoke: providing you with complete reassurance and maximum ROI. Our team of experienced superintendents and managers ensure you have the safest, 
      most secure and cost effective vessels; whatever their size, type or location.</p>  
  </div>
<!-- content -->


  <!-- flipper -->
<div class="row justify-content-center mt-3">
  <div class="wrapper">

    <div class="card front-face">
      <div class="f-title justify-content-center text-center mt-4">
        <h4>Shipping Management</h4>
          <p>
            Abroad Shipping Managment PVT , we provide a complete ship management service from new build, valuation, repair and maintenance to crewing, purchasing and accountancy. 
            For more than a century, we have proven ourselves to be leaders in the UK’s maritime industry and key players in all the world’s shipping markets.
          </p>
      </div>      
    </div>

    <div class="card back-face">
        <div class="info">
        <img src="assets/img/flight3.jpg">
            <div class="title">Abroad Shipping Managment</div>                
            <p>Shipping Management</p>
                
        </div>
        
    </div>
  </div>

  <div class="wrapper">
    <div class="card front-face">
      <div class="f-title justify-content-center text-center mt-4">
        <h4>Purchasing Service</h4>
          <p>
            Abroad Shipping Managment PVT , we provide a complete ship management service from new build, valuation, repair and maintenance to crewing, purchasing and accountancy. 
            For more than a century, we have proven ourselves to be leaders in the UK’s maritime industry and key players in all the world’s shipping markets.
          </p>
      </div>
      
    </div>
    <div class="card back-face">
        <div class="info">
        <img src="assets/img/flight3.jpg">
            <h4> Abroad Shipping Managment</h4>
               
            <p>
              Purchasing Service    
            </p>
        </div>
        
    </div>
  </div>

  <div class="wrapper">
    <div class="card front-face">
      <div class="f-title justify-content-center text-center mt-4">
        <h4>Maritime Service</h4>
          <p>
            Abroad Shipping Managment PVT, we provide a complete ship management service from new build, valuation, repair and maintenance to crewing, purchasing and accountancy. 
            For more than a century, we have proven ourselves to be leaders in the UK’s maritime industry and key players in all the world’s shipping markets.
          </p>
      </div>
      
    </div>
    <div class="card back-face">
        <div class="info">
        <img src="assets/img/flight3.jpg">

            <div class="title">
                Abroad Shipping Managment</div>
            <p>Maritime Service</p>
        </div>
        
    </div>
  </div>

  <div class="wrapper">
    <div class="card front-face">
      <div class="f-title justify-content-center text-center mt-4">
        <h4>Curise Services</h4>
          <p>
            Abroad Shipping Managment PVT, we provide a complete ship management service from new build, valuation, repair and maintenance to crewing, purchasing and accountancy. 
            For more than a century, we have proven ourselves to be leaders in the UK’s maritime industry and key players in all the world’s shipping markets.
          </p>
      </div>
      
    </div>
    <div class="card back-face">
        <div class="info">
        <img src="assets/img/flight3.jpg">

            <div class="title">
                Abroad Shipping Managment</div>
                <p>Curise Services</p>
        </div>
        
    </div>
  </div>
</div>


