img {
    max-height: 500px !important;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center; // You can change this to bottom, right or left depending 
     // on the position you want.
  }

  .card{
      background-color: #313232bf;
  }

  .f-title > b {
    font-size: 25px;
    
  }

  .f-title > p {
    margin: 12px;
    padding: 5px;
}


//   flipping card scss




.wrapper {
    height: 375px;
    width: 320px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.wrapper .card {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: px;
    background: #313232bf;
    border-radius: 10px;
    transform: translateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    box-shadow: 0px 10px 15px rgba(253, 251, 251, 0.1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    color: #ffffff;
    border-color: #fff;
    margin: 3px;
}

.wrapper:hover>.front-face {
    transform: rotateY(-180deg);

}

.wrapper .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.wrapper .back-face {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotateY(180deg);
    background-color: #ffffff;
    color: #0C0C0C;

}

.wrapper:hover>.back-face {
    transform: rotateY(0deg);
}

.wrapper .back-face img {
    height: 150px;
    width: 150px;
    padding: 3px;
    border-radius: 50%;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

.wrapper .back-face .info {
    text-align: center;
}

.back-face .info .title {
    font-size: 30px;
    font-weight: 500;
}

.asm-images {
    background: #041C32;
    color: #dbdb48;
   line-height: 3em;
   h3 {
    transform: translateY(5px);
    //  color: transparent;
    font-size: 5.50vw;
   } 
   p {
       font-size: 2.75vw;
   }

}

.carousel-caption {
    position: none !important;
}

.asm-images, .d-color, .abs-img-src {
    animation: transitionIn 3s;
}

.abs-w-wrapper, .asm-images, .d-color, .abs-img-src {
    animation: transitionAll 3s;
}



@keyframes transitionAll {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

// @keyframes transitionIn{
//     from{
//         opacity: 0;
//         transform: rotateY(-20deg);
//     }

//     to {
//         opacity: 1;
//         transform: rotateY(0);
//     }
// }





